/* ================================= *
 * Tabs manager                      *
 * ================================= */

.window-tabs-manager {
    overflow-y: hidden;
    overflow-x: auto;
    flex: 1;
}

.window-tabs-manager::-webkit-scrollbar {
    height: var(--size-none);
    width: var(--size-none);
}

.window-tabs-manager .window-tab-item {
    background-color: #ffffff0f;
    max-width: 200px;
}

.window-tabs-manager .window-tab-item:focus {
    opacity: 1;
}

.window-tabs-manager .window-tab-item:hover .btn-close {
    opacity: 0.7;
}

.window-tabs-manager .window-tab-item .btn-close {
    height: var(--size-g);
    width: var(--size-g);
    padding: unset;
}

.window-tabs-manager .window-tab-item.window-tab-selected {
    background-color: var(--main-background-panels);
    opacity: 1;
}

.window-tabs-manager .window-tab-item.window-tab-selected .btn-close {
    background-color: transparent;
    opacity: 0.7;
}

.window-tabs-manager .window-tab-item:hover .btn-close:hover, .window-tabs-manager .window-tab-item.window-tab-selected .btn-close:hover {
    opacity: 1;
}

.window-tabs-manager .btn-close:active {
    transform: scale(1.2);
    opacity: 1;
}

/* ================================= *
 * Simple tabs                       *
 * ================================= */

.tab-group {
    min-height: 32px;
}

.tab-group div:hover {
    opacity: 1;
}

.btn-tab-selected {
    background-color: var(--main-background-panels);
}