/* ================================= *
 * Simple tabs                       *
 * ================================= */

.tab-group {
    min-height: 32px;
}

.tab-group div:hover {
    opacity: 1;
}

.btn-tab-selected {
    background-color: var(--main-background-panels);
}