.breadcrump-base {
    color: var(--font-color-label-propertie-editor);
    position: 'absolute';
    max-width: 90%;
    z-index: 1;
}

.breadcrump-button {
    color: var(--font-color-label-propertie-editor);
    background-color: var(--color-transparent);
    border-width: var(--border-size-0);
    cursor: pointer;
}

.breadcrump-button:hover {
    color: var(--font-color-input-propertie-editor);
}

.breadcrump-button:active {
    opacity: 0.5;
}

.breadcrump-button:focus {
    outline: auto;
    outline-color: var(--color-primary);
}
