@import "./../../../../../style/variables.scss";

.col-right {
  justify-content: space-between;
  background-color: $color-background-col;
  min-width: $size-38;
  .content {
    flex-direction: column;
  }
}

// .grabber-col-left,
.grabber-col-right,
.grabber-col-right-resize-y {
  cursor: col-resize;
  overflow: hidden;
  background-color: $color-background-col;
  height: $size-fill;
  width: $size-1;
}

.grabber-col-right {
  border-left: $border-size-1 solid $color-black-50;
  cursor: col-resize;
  height: $size-fill;
  width: $size-1;
}

.grabber-col-right-resize-y {
  border-top: $border-size-1 solid $color-black-50;
  cursor: row-resize;
  width: $size-fill;
  height: $size-2;
}

// .grabber-col-left:active,
.grabber-col-right:active,
.grabber-col-right-resize-y:active {
  background-color: $color-top-bar;
}
