.loader {
    -webkit-animation: spin 0.3s linear infinite; /* Safari */
    animation: spin 0.3s linear infinite;
    border: 2px solid transparent;
    border-radius: 50%;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
