.context-view {
    background-color: var(--main-background-panels);
    box-shadow: var(--box-shadow-small-center);
    padding-bottom: var(--padding-s);
    padding-top: var(--padding-s);
    font-size: var(--font-size-g);
    min-width: 200px;
    position: fixed;
    z-index: 2500;
}

.context-menu-title {
    font-weight: bold;
    background-color: var(--color-context-menu-background-title);
    padding-left: var(--size-s);
    padding: var(--size-sm);
}

.context-menu-list-item {
    height: 24px;
}

.context-menu-list-item:hover {
    background-color: var(--color-context-menu-list-item-hover);
}

.context-menu-list-item:active {
    background-color: var(--color-context-menu-list-item-active);
}
