.context-menu {
    background-color: var(--color-context-menu-background);
    box-shadow: var(--box-shadow-context-menu);
    flex-direction: column;
    min-width: 200px;
    position: fixed;
    display: flex;
}

.context-menu-title {
    font-weight: bold;
    padding: var(--size-3);
    padding-left: var(--size-2);
    background-color: var(--color-context-menu-background-title);
}

.context-menu-list-item {
    padding: var(--size-2);
    font-size: small;
    cursor: pointer;
}

.context-menu-list-item:hover {
    background-color: var(--color-context-menu-list-item-hover);
}

.context-menu-list-item:active {
    background-color: var(--color-context-menu-list-item-active);
}
