@import './../../../style/variables.scss';

.menu-context {
  position: fixed;
  width: 200px;
  height: 150px;
  margin-left: -200px;
  background-color: $color-background-col;
  box-shadow: $size-none $size-none $size-3 $size-none $color-black;
  padding-top: $size-3;
  padding-bottom: $size-3;
  cursor: default;
}
