@import './../../../style/variables.scss';

.menu-context {
  position: fixed;
  width: 200px;
  margin-left: -200px;
  background-color: $color-background-col;
  box-shadow: $size-none $size-none $size-3 $size-none $color-black;
  padding-top: $size-3;
  padding-bottom: $size-3;
  cursor: default;
  .item-list-pai {
    padding: $size-2;
    padding-left: $size-3;
  }
}
