.tab-group {
  display: flex;
  background: var(--color-tool-bar);
  width: var(--size-fill);
  justify-content: space-between;
  min-height: var(--size-8);
  font-size: var(--font-size-4);
  .btn-tab {
    justify-content: center;
    align-items: center;
  }
  .btn-tab:hover {
    background-color: var(--color-background-col);
    cursor: pointer;
  }
  .btn-tab:active {
    color: var(--color-white);
    opacity: 0.5;
  }
}

.btn-tab-selected {
  background-color: var(--color-background-col);
}
