@import './../../../style/variables.scss';

.btn-tab:hover {
  background-color: $color-top-bar-button-maximizar;
  cursor: pointer;
}
.btn-tab:active {
  opacity: 0.5;
  color: $color-white;
}
.btn-tab-selected {
  background-color: $color-top-bar-button-maximizar;
}
