@import "./../../../style/variables.scss";

.status-bar-main {
    background-color: $color-botton-bar;
    width: $size-window-vw-fill;
    align-content: flex-start;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: $size-0-5;
    font-weight: 400;
    height: $size-5;
    display: flex;
    z-index: 1;
    font-size: $font-size-3-5;
    padding-right: $size-2;
    padding-left: $size-2;
}
