.status-bar-main {
    background-color: var(--color-botton-bar);
    width: var(--size-window-vw-fill);
    align-content: flex-start;
    padding: var(--size-0-5);
    justify-content: center;
    height: var(--size-5);
    align-items: center;
    flex-direction: row;
    font-weight: 400;
    display: flex;
    z-index: 1;
    font-size: var(--font-size-3-5);
    padding-right: var(--size-2);
    padding-left: var(--size-2);
}
    