.tool-bar {
  display: flex;
  justify-content: space-between;
  width: var(--size-window-vw-fill);
  height: var(--size-10);
}

.btn-open-menu-user-tab {
  content: url(./../../../assets/icons/btn-menu-user.svg);
  padding: var(--size-0-75);
}
.btn-open-menu-tab {
  padding: 1px;
  content: url(./../../../assets/icons/btn-menu.svg);
}
.btn-open-editor-tab {
  padding: var(--size-0-75);
  content: url(./../../../assets/icons/btn-open-editor-tab.svg);
}
.btn-open-plugins-tab {
  padding: var(--size-0-75);
  content: url(./../../../assets/icons/btn-open-plugins-tab.svg);
}
.btn-open-properties-tab {
  padding: var(--size-0-75);
  content: url(./../../../assets/icons/btn-open-properties-tab.svg);
}

/* .btn-api-controls {
  padding: var(--size-0-75);
}

.btn-api-controls-build {
    content: url(assets/icons/btn-build.svg);
}
.btn-api-controls-play {
    content: url(assets/icons/btn-play.svg);
}
.btn-api-controls-stop {
  content: url(assets/icons/btn-stop.svg);
}
.btn-api-controls-restart {
  content: url(assets/icons/btn-restart.svg);
}

.frame-btn:hover,
.btn-open-menu-tab:hover,
.btn-open-editor-tab:hover,
.btn-open-plugins-tab:hover,
.btn-open-menu-user-tab:hover,
.btn-open-properties-tab:hover {
  background-color: var(--color-top-bar-button-maximizar);
  cursor: pointer;
}

.frame-btn:active {
  opacity: 0.5;
  color: var(--color-white);
}
 */