.tool-bar {
  justify-content: space-between;
  width: var(--size-window-vw-fill);
  height: var(--tool-bar-height);
  display: flex;
}

.btn-open-menu-user-tab {
  content: url(./../../../assets/icons/btn-menu-user.svg);
  padding: var(--size-0-75);
}

.btn-open-menu-tab {
  padding: 1px;
  content: url(./../../../assets/icons/btn-menu.svg);
}

.btn-open-editor-tab {
  padding: var(--size-0-75);
  content: url(./../../../assets/icons/btn-open-editor-tab.svg);
}

.btn-open-plugins-tab {
  padding: var(--size-0-75);
  content: url(./../../../assets/icons/btn-open-plugins-tab.svg);
}

.btn-open-properties-tab {
  padding: var(--size-0-75);
  content: url(./../../../assets/icons/btn-open-properties-tab.svg);
}

.frame-btn:hover,
.btn-open-menu-tab:hover,
.btn-open-editor-tab:hover,
.btn-open-plugins-tab:hover,
.btn-open-menu-user-tab:hover,
.btn-open-properties-tab:hover {
  background-color: var(--color-top-bar-button-maximizar);
  cursor: pointer;
}
