@import "./../../../../../../style/variables.scss";

.res-main {
  display: flex;
  background: $color-tool-bar;
  width: $size-fill;
  justify-content: space-between;
  height: $size-8;
  font-size: $font-size-4;
  .btn-tab {
    justify-content: center;
    align-items: center;
  }
}
