@import './../../../../../style/variables.scss';

.status-bar-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: $size-fill;
    height: $size-5;
    padding: $size-0-5;
    font-size: $font-size-3-5;
    padding-left: $size-2;
    padding-right: $size-2;
    background-color: $color-botton-bar;
    align-content: flex-start;
    font-weight: 400;
}
