.base-modal {
    min-height: 300px;
    min-width: 400px;
    position: fixed;
    z-index: 2;
}

.modal-top-bar {
    justify-content: flex-end;
    cursor: move;
}

.modal-btn {
    border-radius: unset;
    padding: unset;
    margin: unset;
    height: 30px;
    width: 30px;
}

.modal-top-footer {
    justify-content: flex-end;
}
