.col-right {
  background-color: var(--main-background-panels);
  justify-content: space-between;
  min-width: var(--size-38);
}
.col-right .content {
  flex-direction: column;
}

.grabber-col-right,
.grabber-col-right-resize-y {
  height: var(--size-fill);
  width: var(--size-1);
  cursor: col-resize;
  overflow: hidden;
}

.grabber-col-right {
  height: var(--size-fill);
  width: var(--size-2);
  position: absolute;
  cursor: col-resize;
  border-left: none;
  z-index: 1;
}

.grabber-col-right-resize-y {
  width: var(--size-fill);
  height: var(--size-2);
  position: absolute;
  cursor: row-resize;
}
