.col-right {
  background-color: var(color-background-col);
  justify-content: space-between;
  min-width: var(--size-38);
  .content {
    flex-direction: column;
  }
}

// .grabber-col-left,
.grabber-col-right,
.grabber-col-right-resize-y {
  background-color: var(--color-transparent);
  height: var(--size-fill);
  width: var(--size-1);
  cursor: col-resize;
  overflow: hidden;
}

.grabber-col-right {
  height: var(--size-fill);
  width: var(--size-2);
  position: absolute;
  cursor: col-resize;
  border-left: none;
  z-index: 1;
}

.grabber-col-right-resize-y {
  border-top: var(--border-size-1) solid var(--color-black-50);
  width: var(--size-fill);
  height: var(--size-2);
  position: absolute;
  cursor: row-resize;
}

// .grabber-col-left:active,
.grabber-col-right:active,
.grabber-col-right-resize-y:active {
  background-color: var(--color-transparent);
}
