.switch {
    display: inline-block;
    position: relative;
    height: 28px;
    width: 50px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    height: 0;
    width: 0;
}

/* The slider */
.slider {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    transition: 0.4s;
    position: absolute;
    border-radius: 34px;
    -webkit-transition: 0.4s;
}

input:focus + .slider {
    background-color: var(--main-background-highlighted)!important;
}

.slider:before {
    left: 4px;
    width: 20px;
    content: "";
    bottom: 3.5px;
    height: 20px;
    transition: 0.4s;
    border-radius: 50%;
    position: absolute;
    -webkit-transition: 0.4s;
    background-color: #555555;
}

input:checked + .slider:before {
    -webkit-transform: translateX(22px);
    -ms-transform: translateX(22px);
    transform: translateX(22px);
    background-color: white;
}