.default {
  padding-right: var(--size-1-5);
  padding-left: var(--size-1-5);
  justify-content: center;
  height: var(--size-3);
  width: var(--size-3);
  align-self: center;
}

.btn-expand-folder {
  content: url("./../../icons/btn-expand-folder.svg");
}

.btn-collapse-folder {
  content: url("./../../icons/btn-collapse-folder.svg");
}
