.col-align-left {
  justify-content: space-between;
  /* max-width: 85%; */
  min-width: 50%;
}

.col-align-right {
  justify-content: space-between;
  min-width: var(--size-38);
  max-width: 70%;
}

.col-align-center {
  justify-content: space-between;
  min-width: 30%;
  max-width: 70%;
}

.grabber-col-right {
  width: var(--main-grapper-size);
  height: var(--size-fill);
  position: absolute;
  cursor: col-resize;
  border-left: none;
  overflow: hidden;
  z-index: 1;
}

.grabber-col-right-resize-y {
  height: var(--main-grapper-size);
  width: var(--size-fill);
  cursor: row-resize;
  position: absolute;
  overflow: hidden;
}
