.col-align-left {
  justify-content: space-between;
  min-width: 50%;
}

.col-align-right {
  justify-content: space-between;
  min-width: 20%;
  max-width: 70%;
}

.col-align-center {
  justify-content: space-between;
  min-width: 30%;
  max-width: 70%;
}

.grabber-col-right {
  width: var(--main-grapper-size);
  height: var(--size-fill);
  position: absolute;
  border-left: none;
  cursor: e-resize;
  overflow: hidden;
  z-index: 1;
}

.grabber-col-right-resize-y {
  height: var(--main-grapper-size);
  width: var(--size-fill);
  margin-bottom: -4px;
  cursor: n-resize;
  margin-top: -4px;
  overflow: hidden;
}
