@import "./../../../../../style/variables.scss";

.toolbar {
  background-color: $toolbar-background;
  border: 0px solid $toolbar-border-color;
  border-right-width: 1px;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  height: 100%;
  .toolbar-item {
    border: $border-size-1 solid $color-transparent;
    cursor: "move";
  }
  .toolbar-item:hover {
    border: $border-size-1 solid $toolbar-item-border-hover;
  }
  .toolbar-item:active {
    background-color: $toolbar-item-background-active;
  }
}
