.toolbar {
  border: var(--size-none) solid var(--toolbar-border-color);
  background-color: var(--main-background-panels);
  border-right-width: 1px;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  height: 100%;
}

.toolbar-item {
  border: var(--border-size-1) solid var(--color-transparent);
  cursor: "move";
}

.toolbar-item:hover {
  border: var(--border-size-1) solid var(--toolbar-item-border-hover);
}

.toolbar-item:active {
  background-color: var(--toolbar-item-background-active);
}
