.tree-base {
  flex-direction: column;
  overflow: auto;
  flex: 1;
}
.tree-base:focus {
  outline: thin solid var(--color-background-col-click);
}

.tree-item {
  height: min-content;
  min-width: max-content;
  width: var(--size-fill);
  cursor: pointer;
}
.item {
  padding: 5px;
  padding-right: 10px;
}

.tree-item:hover {
  background-color: #3c3c3c3b;
}
.tree-item:active {
  background-color: var(--color-background-col-click);
}
