@import "./../../../style/variables.scss";

.tree-base {
  flex-direction: column;
  overflow: auto;
  flex: 1;
}

.tree-item {
  height: min-content;
  cursor: pointer;
  width: 100%;
}
.item {
  padding: 5px;
  padding-right: 10px;
}

.tree-item:hover {
  background-color: #3c3c3c3b;
}
.tree-item:active {
  background-color: $color-background-col-click;
}

.menu-context {
  position: fixed;
  width: 200px;
  margin-left: -200px;
  background-color: $color-background-col;
  box-shadow: $size-none $size-none $size-3 $size-none $color-black;
  padding-top: $size-3;
  padding-bottom: $size-3;
  cursor: default;
  .item-list-pai {
    padding: $size-2;
    padding-left: $size-3;
  }
}
