.tree-base {
  flex-direction: column;
  overflow: auto;
  flex: 1;
}
.tree-base:focus {
  outline: thin solid var(--color-background-col-click);
}

.tree-item {
  outline: var(--outline-none);
  width: var(--size-fill);
  min-width: max-content;
  height: min-content;
  cursor: pointer;
}

.item {
  padding-right: 10px;
}

.tree-item:focus {
  background-color: #3c3c3c3b;
}
.tree-item:hover {
  background-color: #3c3c3c3b;
}
.tree-item:active {
  background-color: var(--color-background-col-click);
}
