.tree-base {
  flex-direction: column;
  overflow: auto;
  flex: 1;
}

.tree-item {
  height: min-content;
  cursor: pointer;
  width: 100%;
}
.item {
  padding: 5px;
  padding-right: 10px;
}

.tree-item:hover {
  background-color: #3c3c3c3b;
}
.tree-item:active {
  background-color: var(--color-background-col-click);
}

.menu-context {
  position: fixed;
  width: 200px;
  margin-left: -200px;
  background-color: var(--color-background-col);
  box-shadow: var(--size-none) var(--size-none) var(--size-3) var(--size-none) var(--color-black);
  padding-top: var(--size-3);
  padding-bottom: var(--size-3);
  cursor: default;
  .item-list-pai {
    padding: var(--size-2);
    padding-left: var(--size-3);
  }
}
