.display-flex {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.flex1 {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.flex2 {
    -webkit-box-flex: 2;
    -ms-flex: 2;
    flex: 2;
}

.flex3 {
    -webkit-box-flex: 3;
    -ms-flex: 3;
    flex: 3;
}

.flex4 {
    -webkit-box-flex: 4;
    -ms-flex: 4;
    flex: 4;
}

.flex5 {
    -webkit-box-flex: 5;
    -ms-flex: 5;
    flex: 5;
}

.flex-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.flex-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.flex-space-between {
    justify-content: space-between;
}

.flex-justfy-start {
    justify-content: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
}

.flex-justfy-center {
    -webkit-box-pack: center;
    justify-content: center;
    -ms-flex-pack: center;
}

.flex-justify-end {
    justify-content: flex-end;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
}

.flex-items-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.flex-content-center {
    justify-content: center;
}

.flex-content-end {
    justify-content: flex-end;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-no-wrap {
    flex-wrap: nowrap;
}