/* =============================== *
 * Fonts                           *
 * =============================== */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
:root {
    --font-size-xxs: 2px;
    --font-size-xs: 4px;
    --font-size-s: 6px;
    --font-size-sm: 8px;
    --font-size-m: 10px;
    --font-size-g: 12px;
    --font-size-xg: 14px;
    --font-size-xxg: 16px;
    --font-size-h6: 18px;
    --font-size-h4: 22px;
    --font-size-h5: 20px;
    --font-size-h3: 26px;
    --font-size-h2: 28px;
    --font-size-h1: 32px;
    --font-size-display: 36px;
    /* Font family */
    --font-family-normal: Roboto, Ubuntu, Verdana, Geneva, Tahoma, sans-serif;
    --font-family-vs-code: "Droid Sans Mono", "monospace", monospace, "Droid Sans Fallback";
    /* Font colors */
    --font-color-label-propertie-editor: #adadad;
    --font-color-input-propertie-editor: #d8d8d8;
    --font-color-input-propertie-editor-focus: #f3f3f3;
    --font-color-icon-add-remove-propertie-editor: #adadad;
    /* Link colors */
    --font-color-link: #007bff;
    --font-color-link-hover: #c4c4ff;
    /* Erros */
    --text-underline-error: underline wavy var(--main-error-color);
    --text-underline-warning: underline wavy var(--main-warning-color);
}

.font-size-xxs {
    font-size: var(--font-size-xxs);
}

.font-size-xs {
    font-size: var(--font-size-xs);
}

.font-size-s {
    font-size: var(--font-size-s);
}

.font-size-sm {
    font-size: var(--font-size-sm);
}

.font-size-m {
    font-size: var(--font-size-m);
}

.font-size-g {
    font-size: var(--font-size-g);
}

.font-size-xg {
    font-size: var(--font-size-xg);
}

.font-size-xxg {
    font-size: var(--font-size-xxg);
}

.text-underline-error {
    text-decoration: var(--text-underline-error);
}

.text-underline-warning {
    text-decoration: var(--text-underline-warning);
}

.text-uppercase {
    text-transform: uppercase;
}