@import "./variables.css";

* {
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  outline: --outline-padrao;
  -ms-user-select: none;
  user-select: none;
  padding: 0;
  margin: 0;
}

*:focus {
  outline: var(--outline-padrao);
}
.selected,
*[selected="true"] {
  background-color: var(--main-select-color);
}
.selected,
*[selected="true"]:hover {
  background-color: var(--main-select-color) !important;
}

html,
body,
#root,
.App {
  font-family: var(--font-family-vs-code);
  background-color: var(--main-background);
  height: var(--size-window-vh-fill);
  width: var(--size-window-vw-fill);
  overflow: hidden;
  color: white;
  display: flex;
}

div {
  display: flex;
  background-color: var(--color-transparent);
}

a {
  cursor: pointer;
  color: var(--font-color-link);
}

a:hover {
  color: var(--font-color-link-hover);
}

a:active {
  color: var(--color-white);
  opacity: 0.5;
}
label {
  cursor: pointer;
}

input,
textarea {
  background-color: var(--main-background-bars);
  border: var(--input-border);
  color: var(--color-white);
  padding: var(--size-2);
  border-radius: var(--size-1);
  padding-right: var(--size-1);
  padding-left: var(--size-1);
  color: var(--color-white);
}
/* Remove os botões da input de texto */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.no-events {
  pointer-events: none;
}

.input-medium {
  height: var(--size-5);
  padding: var(--size-1);
}

.disabled {
  background-color: unset;
  opacity: 0.5;
}
.disabled:hover {
  background-color: unset;
  opacity: 0.5;
}

.dragging {
  border-radius: 50px;
  width: fit-content;
}
.dragging-over {
  background-color: var(--main-background-highlighted) !important;
  border-radius: 50px !important;
  width: fit-content !important;
}

.text-underline-error {
  text-decoration: var(--text-underline-error);
}

.full-width {
  width: var(--size-fill);
}
.full-height {
  height: var(--size-fill);
}

/* Backgrounds base */
.background {
  background-color: var(--main-background);
}
.background-bars {
  background-color: var(--main-background-bars);
}
.background-panels {
  background-color: var(--main-background-panels);
}
.background-highlighted {
  background-color: var(--main-background-highlighted);
}
/*  ---------------- */

.display-block {
  display: block;
}

.overflow-auto {
  overflow: auto;
}
.overflow-scroll {
  overflow: scroll;
}

.outline-none {
  outline: var(--outline-none);
}

.main-header {
  font-size: var(--font-size-6);
  color: var(--color-gray-5);
  font-weight: 500;
}

.display-flex {
  display: flex;
}
.flex1 {
  flex: 1;
}
.flex-column {
  flex-direction: column;
}
.flex-row {
  flex-direction: row;
}

.hr {
  background-color: var(--main-background);
  height: var(--border-size-1);
  border: none;
}
.hr.hr-vertical {
  width: var(--border-size-1);
  height: 100%;
}
.hr.hr-white {
  background-color: var(--main-background-highlighted);
  width: 100%;
}
.hr.divider {
  margin-top: var(--size-2);
  margin-bottom: var(--size-2);
}

.btn {
  border: var(--size-none) solid var(--color-white);
  color: var(--font-color-input-propertie-editor);
  font-family: var(--font-family-vs-code);
  background: var(--main-background);
  cursor: pointer;
  padding: var(--size-1-5);
  padding-left: var(--size-1-5);
  padding-right: var(--size-1-5);
}
.btn:focus {
  outline: var(--outline-padrao);
}

.width-auto {
  width: auto;
}

.margin-xs {
  margin: var(--margin-xs);
}
.margin-s {
  margin: var(--margin-s);
}
.margin-m {
  margin: var(--margin-m);
}
.margin-g {
  margin: var(--margin-g);
}
.margin-xg {
  margin: var(--margin-xg);
}

.margin-top-xs {
  margin-top: var(--margin-xs);
}
.margin-top-s {
  margin-top: var(--margin-s);
}
.margin-top-m {
  margin-top: var(--margin-m);
}
.margin-top-g {
  margin-top: var(--margin-g);
}
.margin-top-xg {
  margin-top: var(--margin-xg);
}

.margin-bottom-xs {
  margin-bottom: var(--margin-xs);
}
.margin-bottom-s {
  margin-bottom: var(--margin-s);
}
.margin-bottom-m {
  margin-bottom: var(--margin-m);
}
.margin-bottom-g {
  margin-bottom: var(--margin-g);
}
.margin-bottom-xg {
  margin-bottom: var(--margin-xg);
}

/* Ajusta o scroll de todos os elementos. */
::-webkit-scrollbar {
  width: var(--size-x-scroll-bar);
  height: var(--size-x-scroll-bar);
}
::-webkit-scrollbar-corner {
  background-color: var(--color-transparent);
}
::-webkit-scrollbar:horizontal {
  height: var(--size-x-scroll-bar-horizontal);
}
::-webkit-scrollbar-button {
  display: none;
}
::-webkit-scrollbar-track {
  background-color: var(--color-transparent);
}
::-webkit-scrollbar-thumb {
  background-color: var(--color-scroll-bar);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-scroll-bar-hover);
}
::-webkit-scrollbar-thumb:active {
  background-color: var(--color-scroll-bar-active);
}
.mini-scroll-bar::-webkit-scrollbar {
  width: var(--size-x-scroll-bar-small);
}
.mini-scroll-bar::-webkit-scrollbar-thumb {
  background-color: var(--main-background-bars);
  width: var(--size-x-scroll-bar-small);
}

[aria-label] {
  position: relative;
}

[aria-label]::after {
  background-color: var(var(--main-background-bars));
  color: var(--color-white);
  content: attr(aria-label);
  bottom: var(--size-none);
  text-decoration: none;
  pointer-events: none;
  position: absolute;
  padding: 8px 10px;
  font-size: 0.9em;
  z-index: 5000;
  display: none;
  top: 110%;
}

[aria-label]:hover::after {
  display: block;
}
