@import "./variables.scss";

* {
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
  padding: 0;
  margin: 0;
}

*:focus {
  outline: var(--outline-padrao);
}
.selected,
*[selected="true"] {
  background-color: #1f724340;
}
.selected,  
*[selected="true"]:hover {
  background-color: #1f724330;
}

.disabled {
  background-color: unset;
  opacity: 0.5;
}

.disabled:hover {
  background-color: unset;
  opacity: 0.5;
}
.dragging {
  border-radius: 50px;
  width: fit-content;
}
.dragging-over {
  background-color: #2b78a530 !important;
  border-radius: 50px !important;
  width: fit-content !important;
}

.text-underline-error {
  text-decoration: var(--text-underline-error);
}

html,
body,
#root,
.App {
  font-family: var(--font-family-vs-code);
  background-color: var(--color-background);
  height: var(--size-window-vh-fill);
  width: var(--size-window-vw-fill);
  overflow: hidden;
  color: white;
  display: flex;
}

div {
  display: flex;
}

a {
  cursor: pointer;
  color: var(--font-color-link);
}

a:hover {
  color: var(--font-color-link-hover);
}

a:active {
  color: var(--color-white);
  opacity: 0.5;
}

.full-width-height {
  width: var(--size-fill);
  height: var(--size-fill);
}

.item-com-erro {
  border: thin dotted red;
}

.mini-btn-add,
.mini-btn-remove {
  color: var(--font-color-icon-add-remove-propertie-editor);
  background: transparent;
  cursor: pointer;
  outline: unset;
  border: none;
}

.mini-btn-add:active {
  color: var(--font-color-input-propertie-editor-focus);
}

.mini-btn-remove {
  display: none;
}

.mini-btn-remove:active {
  color: var(--font-color-input-propertie-editor-focus);
}

.align-right {
  float: right;
}

.btn {
  background: var(--color-background-propertie-editor);
  border: var(--size-none) solid var(--color-white);
  color: var(--font-color-input-propertie-editor);
  font-family: var(--font-family-vs-code);
  cursor: pointer;
  padding: var(--size-1-5);
  padding-left: var(--size-1-5);
  padding-right: var(--size-1-5);
}

.btn:focus {
  outline: var(--outline-padrao);
}

.flex1 {
  flex: 1;
}

.primary {
  background-color: #0f77bf9c;
  color: #fffffff0;
}

.danger {
  background-color: #c700009c;
  color: #fffffff0;
}

.input-padrao {
  background: var(--color-background-propertie-editor);
  color: var(--font-color-input-propertie-editor);
  border: var(--size-none) solid var(--color-white);
  max-height: var(--size-4);
  padding: var(--size-1-5);
  padding-left: var(--size-1-5);
  padding-right: var(--size-1-5);
}

.input-large {
  padding: var(--size-2);
  padding-left: var(--size-1-5);
  padding-right: var(--size-1-5);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.input-fill {
  width: -webkit-fill-available;
}

// Ajusta o scroll de todos os elementos.
::-webkit-scrollbar {
  width: var(--size-x-scroll-bar);
  height: var(--size-x-scroll-bar);
}
::-webkit-scrollbar-button {
  display: none;
}
::-webkit-scrollbar-track {
  background-color: var(--color-transparent);
}
::-webkit-scrollbar-thumb {
  background-color: var(--color-scroll-bar);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-scroll-bar-hover);
}
::-webkit-scrollbar-thumb:active {
  background-color: var(--color-scroll-bar-active);
}

.mini-scroll-bar::-webkit-scrollbar {
  width: var(--size-x-scroll-bar-small);
}

.hr-default {
  background-color: var(--color-background);
  height: var(--border-size-1);
  border: none;
}
