@import "./variables.scss";

* {
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}

*:focus {
  outline: auto;
}
*[selected="true"] {
  background-color: #1f724330;
}
*[selected="true"]:hover {
  background-color: #1f724340;
}

.disabled {
  background-color: unset;
  opacity: 0.5;
}

.disabled:hover {
  background-color: unset;
  opacity: 0.5;
}
.dragging {
  border-radius: 50px;
  width: fit-content;
}
.dragging-over {
  background-color: #2b78a530!important;
  border-radius: 50px!important;
  width: fit-content!important;
}

.text-underline-error {
  text-decoration: underline wavy red;
}

html,
body,
#root,
.App {
  font-family: var(--font-family-vs-code);
  background-color: $color-background;
  height: $size-window-vh-fill;
  width: $size-window-vw-fill;
  overflow: hidden;
  color: white;
  display: flex;
}

div {
  display: flex;
}

a {
  cursor: pointer;
  color: $font-color-link;
}

a:hover {
  color: $font-color-link-hover;
}

a:active {
  color: $color-white;
  opacity: 0.5;
}

.full-width-height {
  width: $size-fill;
  height: $size-fill;
}

.item-com-erro {
  border: thin dotted red;
}

.mini-btn-add,
.mini-btn-remove {
  color: $font-color-icon-add-remove-propertie-editor;
  outline: unset;
  background: transparent;
  border: none;
  cursor: pointer;
}

.mini-btn-add:active {
  color: $font-color-input-propertie-editor-focus;
}

.mini-btn-remove {
  display: none;
}

.mini-btn-remove:active {
  color: $font-color-input-propertie-editor-focus;
}

.align-right {
  float: right;
}

.btn {
  background: $color-background-propertie-editor;
  color: $font-color-input-propertie-editor;
  font-family: var(--font-family-vs-code);
  border: $size-none solid $color-white;
  padding: $size-0-5;
  padding-left: $size-1-5;
  padding-right: $size-1-5;
  cursor: pointer;
}

.btn:focus {
  outline: auto;
}

.flex1 {
  flex: 1;
}

.primary {
  background-color: #0f77bf9c;
  color: #fffffff0;
}

.danger {
  background-color: #c700009c;
  color: #fffffff0;
}

.input-padrao {
  background: $color-background-propertie-editor;
  border: $size-none solid $color-white;
  color: $font-color-input-propertie-editor;
  padding: $size-0-5;
  padding-left: $size-1-5;
  padding-right: $size-1-5;
  font-family: Arial, "Courier New", monospace;
  max-height: $size-4;
}

.input-large {
  padding: $size-2;
  padding-left: $size-1-5;
  padding-right: $size-1-5;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.input-fill {
  width: -webkit-fill-available;
}

// Ajusta o scroll de todos os elementos.
::-webkit-scrollbar {
  width: $size-x-scroll-bar;
  height: $size-x-scroll-bar;
}
::-webkit-scrollbar-button {
  display: none;
}
::-webkit-scrollbar-track {
  background-color: $color-transparent;
}
::-webkit-scrollbar-thumb {
  background-color: $color-scroll-bar;
}
::-webkit-scrollbar-thumb:hover {
  background-color: $color-scroll-bar-hover;
}
::-webkit-scrollbar-thumb:active {
  background-color: $color-scroll-bar-active;
}

.mini-scroll-bar::-webkit-scrollbar {
  width: $size-x-scroll-bar-small;
}


.hr-default {
  background-color: var(--color-background);
  height: var(--border-size-1);
  border: none;
}