@import "./animations.css";
@import "./variables.css";
@import "./paddings.css";
@import "./margins.css";
@import "./opacity.css";
@import "./colors.css";
@import "./fonts.css";
@import "./flexs.css";

* {
  font-family: var(--font-family-normal);
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
  padding: 0;
  margin: 0;
}

*:focus {
  outline: var(--outline-padrao);
}

.selected,
*[selected="true"] {
  background-color: var(--main-select-color);
}

.editing {
  background-color: var(--main-editing-color);
}

.selected,
*[selected="true"]:hover {
  background-color: var(--main-select-color) !important;
}

html,
body,
#root,
.App {
  background-color: var(--main-background);
  height: var(--size-window-vh-fill);
  width: var(--size-window-vw-fill);
  overflow: hidden;
  color: white;
  display: flex;
}

div {
  display: flex;
  background-color: var(--color-transparent);
}

a {
  cursor: pointer;
  color: var(--font-color-link);
}

a:hover {
  color: var(--font-color-link-hover);
}

a:active {
  color: var(--color-white);
  opacity: 0.5;
}

label {
  cursor: pointer;
}

input,
textarea,
select {
  background-color: var(--main-background-bars);
  padding: var(--size-2);
  border-radius: var(--size-1);
  padding-right: var(--size-1);
  padding-left: var(--size-1);
  border: var(--input-border);
  color: var(--color-white);
}

input:focus,
textarea:focus,
select:focus {
  background-color: var(--main-background-input-focus);
  outline: var(--outline-none);
}

/* Remove os botões da input de texto */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

input[type="checkbox"] {
  all: unset;
  background-color: var(--main-background-bars);
  margin-right: var(--margin-s);
  border-radius: var(--size-1);
  border: var(--input-border);
  padding: var(--size-0-5);
  height: var(--size-m);
  width: var(--size-m);
  cursor: pointer;
}

input[type="checkbox"]:checked {
  background-color: var(--color-primary);
}

.text-ellipsis {
  text-overflow: ellipsis;
  display: inline-block;
  white-space: nowrap;
  text-align: start;
  overflow: hidden;
}

/* Backgrounds base */
.background {
  background-color: var(--main-background);
}

.background-bars {
  background-color: var(--main-background-bars);
}

.background-info {
  background-color: var(--main-background-info);
}

.background-panels {
  background-color: var(--main-background-panels);
}

.background-highlighted {
  background-color: var(--main-background-highlighted);
}
/*  ---------------- */

.input-border {
  border: var(--input-border);
}

.border-radius {
  border-radius: var(--size-1);
}
.border-radius-soft {
  border-radius: var(--size-0-5);
}

.border-default {
  border: thin solid var(--main-background-highlighted);
}

.box-shadow-small {
  box-shadow: var(--box-shadow-small);
}

.no-events {
  pointer-events: none;
}

.input-medium {
  height: var(--size-5);
  padding: var(--size-1);
}

.disabled {
  background-color: unset;
  opacity: 0.5;
}

.disabled:hover {
  background-color: unset;
  opacity: 0.5;
}

.dragging {
  border-radius: 50px;
  width: fit-content;
}

.dragging-over {
  background-color: var(--main-background-highlighted) !important;
  border-radius: 50px !important;
  width: fit-content !important;
}

.text-underline-error {
  text-decoration: var(--text-underline-error);
}

.full-width {
  width: var(--size-fill);
}
.full-height {
  height: var(--size-fill);
}

.absolute {
  position: absolute;
}

.display-block {
  display: block;
}

.overflow-auto {
  overflow: auto;
}
.overflow-scroll {
  overflow: scroll;
}
.overflow-contrast:hover::-webkit-scrollbar-thumb {
  background-color: var(--color-scroll-bar-hover);
}

.outline-none {
  outline: var(--outline-none);
}

.main-header {
  font-size: var(--font-size-6);
  color: var(--color-gray-5);
  font-weight: 500;
}

.color-primary {
  background-color: var(--color-primary);
}

.hr {
  background-color: var(--main-background);
  height: var(--border-size-1);
  border: none;
}

.hr.hr-vertical {
  width: var(--border-size-1);
  height: 100%;
}

.hr.hr-white {
  background-color: var(--main-background-highlighted);
  width: 100%;
}

.hr.divider {
  margin-bottom: var(--size-2);
  margin-top: var(--size-2);
}

.btn {
  border: var(--size-none) solid var(--color-white);
  color: var(--font-color-input-propertie-editor);
  background-color: var(--color-transparent);
  width: fit-content;
  cursor: pointer;
  padding: var(--size-1-5);
  padding-right: var(--size-1-5);
  padding-left: var(--size-1-5);
}

.btn:hover {
  background-color: var(--main-background-highlighted);
  color: var(--color-white);
}

.btn:focus {
  background-color: var(--main-background-highlighted);
  color: var(--color-white);
}

.btn:active {
  color: var(--color-white);
  opacity: 0.5;
}

.btn-xs {
  height: calc(var(--size-xs) * 3);
}

.btn-s {
  height: calc(var(--size-s) * 3);
}

.btn-m {
  height: calc(var(--size-m) * 3);
}

.btn-g {
  height: calc(var(--size-g) * 3);
}

.btn-xg {
  height: calc(var(--size-xg) * 3);
}

.width-auto {
  width: auto;
}

/* Ajusta o scroll de todos os elementos. */
::-webkit-scrollbar {
  width: var(--size-x-scroll-bar);
  height: var(--size-x-scroll-bar);
}

::-webkit-scrollbar-corner {
  background-color: var(--color-transparent);
}

::-webkit-scrollbar:horizontal {
  height: var(--size-x-scroll-bar-horizontal);
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-track {
  background-color: var(--color-transparent);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-scroll-bar);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-scroll-bar-hover);
}

::-webkit-scrollbar-thumb:active {
  background-color: var(--color-scroll-bar-active);
}

.mini-scroll-bar::-webkit-scrollbar {
  width: var(--size-x-scroll-bar-small);
}

.mini-scroll-bar::-webkit-scrollbar-thumb {
  background-color: var(--main-background-bars);
  width: var(--size-x-scroll-bar-small);
}
