@import "./variables.scss";

* {
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
  padding: 0;
  margin: 0;
}

*:focus {
  outline: var(--outline-padrao);
}
.selected,
*[selected="true"] {
  background-color: #1f724340;
}
.selected,
*[selected="true"]:hover {
  background-color: #1f724330;
}

html,
body,
#root,
.App {
  font-family: var(--font-family-vs-code);
  background-color: var(--main-background);
  height: var(--size-window-vh-fill);
  width: var(--size-window-vw-fill);
  overflow: hidden;
  color: white;
  display: flex;
}

div {
  display: flex;
}

a {
  cursor: pointer;
  color: var(--font-color-link);
}

a:hover {
  color: var(--font-color-link-hover);
}

a:active {
  color: var(--color-white);
  opacity: 0.5;
}

.disabled {
  background-color: unset;
  opacity: 0.5;
}

.disabled:hover {
  background-color: unset;
  opacity: 0.5;
}
.dragging {
  border-radius: 50px;
  width: fit-content;
}
.dragging-over {
  background-color: var(--main-background-highlighted) !important;
  border-radius: 50px !important;
  width: fit-content !important;
}

.text-underline-error {
  text-decoration: var(--text-underline-error);
}

.full-width {
  width: var(--size-fill);
}

.full-height {
  height: var(--size-fill);
}

// Backgrounds base
.background {
  background-color: var(--main-background);
}
.background-bars {
  background-color: var(--main-background-bars);
}
.background-panels {
  background-color: var(--main-background-panels);
}
.background-highlighted {
  background-color: var(--main-background-highlighted);
}
// ----------------

.display-flex {
  display: flex;
}
.flex1 {
  flex: 1;
}

.hr {
  background-color: var(--main-background);
  height: var(--border-size-1);
  border: none;
}

.btn {
  background: var(--color-background-propertie-editor);
  border: var(--size-none) solid var(--color-white);
  color: var(--font-color-input-propertie-editor);
  font-family: var(--font-family-vs-code);
  cursor: pointer;
  padding: var(--size-1-5);
  padding-left: var(--size-1-5);
  padding-right: var(--size-1-5);
}
.btn:focus {
  outline: var(--outline-padrao);
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

// Ajusta o scroll de todos os elementos.
::-webkit-scrollbar {
  width: var(--size-x-scroll-bar);
  height: var(--size-x-scroll-bar);
}
::-webkit-scrollbar-button {
  display: none;
}
::-webkit-scrollbar-track {
  background-color: var(--color-transparent);
}
::-webkit-scrollbar-thumb {
  background-color: var(--color-scroll-bar);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-scroll-bar-hover);
}
::-webkit-scrollbar-thumb:active {
  background-color: var(--color-scroll-bar-active);
}
.mini-scroll-bar::-webkit-scrollbar {
  width: var(--size-x-scroll-bar-small);
}
