/* =============================== *
 * Margins                         *
 * =============================== */

:root {
    --margin-xxs: var(--size-xxs);
    --margin-xs: var(--size-xs);
    --margin-s: var(--size-s);
    --margin-sm: var(--size-sm);
    --margin-m: var(--size-m);
    --margin-g: var(--size-g);
    --margin-xg: var(--size-xg);
}

.margin-none {
    margin: none;
}

.margin-xs {
    margin: var(--margin-xs);
}

.margin-s {
    margin: var(--margin-s);
}

.margin-sm {
    margin: var(--margin-sm);
}

.margin-m {
    margin: var(--margin-m);
}

.margin-g {
    margin: var(--margin-g);
}

.margin-xg {
    margin: var(--margin-xg);
}

.margin-top-none {
    margin-top: none;
}

.margin-top-xs {
    margin-top: var(--margin-xs);
}

.margin-top-s {
    margin-top: var(--margin-s);
}

.margin-top-sm {
    margin-top: var(--margin-sm);
}

.margin-top-m {
    margin-top: var(--margin-m);
}

.margin-top-g {
    margin-top: var(--margin-g);
}

.margin-top-xg {
    margin-top: var(--margin-xg);
}

.margin-bottom-none {
    margin-bottom: none;
}

.margin-bottom-xs {
    margin-bottom: var(--margin-xs);
}

.margin-bottom-s {
    margin-bottom: var(--margin-s);
}

.margin-bottom-sm {
    margin-bottom: var(--margin-sm);
}

.margin-bottom-m {
    margin-bottom: var(--margin-m);
}

.margin-bottom-g {
    margin-bottom: var(--margin-g);
}

.margin-bottom-xg {
    margin-bottom: var(--margin-xg);
}

.margin-left-none {
    margin-left: none;
}

.margin-left-xs {
    margin-left: var(--margin-xs);
}

.margin-left-s {
    margin-left: var(--margin-s);
}

.margin-left-sm {
    margin-left: var(--margin-sm);
}

.margin-left-m {
    margin-left: var(--margin-m);
}

.margin-left-g {
    margin-left: var(--margin-g);
}

.margin-left-xg {
    margin-left: var(--margin-xg);
}

.margin-right-none {
    margin-right: none;
}

.margin-right-xs {
    margin-right: var(--margin-xs);
}

.margin-right-s {
    margin-right: var(--margin-s);
}

.margin-right-sm {
    margin-right: var(--margin-sm);
}

.margin-right-m {
    margin-right: var(--margin-m);
}

.margin-right-g {
    margin-right: var(--margin-g);
}

.margin-right-xg {
    margin-right: var(--margin-xg);
}