.padding-none {
  padding: unset;
}

.padding-xs {
  padding: var(--padding-xs);
}

.padding-s {
  padding: var(--padding-s);
}

.padding-m {
  padding: var(--padding-m);
}

.padding-g {
  padding: var(--padding-g);
}

.padding-xg {
  padding: var(--padding-xg);
}

.padding-top-none {
  padding-top: unset;
}

.padding-top-xs {
  padding-top: var(--padding-xs);
}

.padding-top-s {
  padding-top: var(--padding-s);
}

.padding-top-m {
  padding-top: var(--padding-m);
}

.padding-top-g {
  padding-top: var(--padding-g);
}

.padding-top-xg {
  padding-top: var(--padding-xg);
}

.padding-left-none {
  padding-left: unset;
}

.padding-left-xs {
  padding-left: var(--padding-xs);
}

.padding-left-s {
  padding-left: var(--padding-s);
}

.padding-left-m {
  padding-left: var(--padding-m);
}

.padding-left-g {
  padding-left: var(--padding-g);
}

.padding-left-xg {
  padding-left: var(--padding-xg);
}

.padding-right-none {
  padding-right: unset;
}

.padding-right-xs {
  padding-right: var(--padding-xs);
}

.padding-right-s {
  padding-right: var(--padding-s);
}

.padding-right-m {
  padding-right: var(--padding-m);
}

.padding-right-g {
  padding-right: var(--padding-g);
}

.padding-right-xg {
  padding-right: var(--padding-xg);
}

.padding-bottom-none {
  padding-bottom: 0px;
}

.padding-bottom-xs {
  padding-bottom: var(--padding-xs);
}

.padding-bottom-s {
  padding-bottom: var(--padding-s);
}

.padding-bottom-m {
  padding-bottom: var(--padding-m);
}

.padding-bottom-g {
  padding-bottom: var(--padding-g);
}

.padding-bottom-xg {
  padding-bottom: var(--padding-xg);
}

.padding-horizontal-none {
  padding-right: unset;
  padding-left: unset;
}

.padding-horizontal-xs {
  padding-right: var(--padding-xs);
  padding-left: var(--padding-xs);
}

.padding-horizontal-s {
  padding-right: var(--padding-s);
  padding-left: var(--padding-s);
}

.padding-horizontal-m {
  padding-right: var(--padding-m);
  padding-left: var(--padding-m);
}

.padding-horizontal-g {
  padding-right: var(--padding-g);
  padding-left: var(--padding-g);
}

.padding-horizontal-xg {
  padding-right: var(--padding-xg);
  padding-left: var(--padding-xg);
}
