:root {
    /* Dimens천es */
    --size-window-vh-fill: 100vh;
    --size-window-vw-fill: 100vw;
    --size-fill: 100%;
    --size-half-90: 90%;
    --size-half-80: 80%;
    --size-half-70: 70%;
    --size-half-60: 60%;
    --size-half: 50%;
    --size-half-40: 40%;
    --size-half-30: 30%;
    --size-half-20: 20%;
    --size-half-10: 10%;

    /* Dimens천es em px */
    --size-none: 0px;
    --size-0-5: 2px;
    --size-0-75: 3px;
    --size-1: 4px;
    --size-1-5: 6px;
    --size-2: 8px;
    --size-3: 12px;
    --size-4: 16px;
    --size-5: 20px;
    --size-6: 24px;
    --size-7: 28px;
    --size-8: 32px;
    --size-9: 36px;
    --size-10: 40px;
    --size-11: 44px;
    --size-13: 48px;
    --size-14: 52px;
    --size-15: 56px;
    --size-16: 60px;
    --size-17: 64px;
    --size-18: 68px;
    --size-19: 72px;
    --size-20: 76px;
    --size-21: 80px;
    --size-22: 84px;
    /* ... */
    --size-35: 140px;
    --size-38: 152px;
    /* ... */
    --size-75: 300px;
    /* ... */
    --size-92-5: 370px;
    /* ... */
    --size-150: 600px;
    /* ... */
    --size-250: 1000px;



    /* Border-sizes ------------- */
    --border-size-0: 0px;
    --border-size-1: 1px;

    /************* Colors *************/
    /* Main base colors */
    --main-background: #1e1e1e;
    --main-background-bars: #2d2d2d;
    --main-background-info: #414141;
    --main-background-panels: #252527;
    --main-background-highlighted: #3c3c3c;
    --main-background-input-focus: #3c3c3c;

    --main-select-color: #1f724340;
    --main-editing-color: #1f724320;
    --main-error-color: #ff0000;
    --main-warning-color: #b99803;
    --main-border-width: 2px;

    --main-grapper-size: var(--size-2);

    --color-primary: #1C5334;
    --color-transparent: transparent;
    --color-white: white;
    --color-gray-5: #e0e0e0;
    --color-black: black;
    /* ---------------- */

    /* Bottom status bar */
    --color-botton-bar: #0f77bf;

    --color-black-50: #00000050;
    --color-background-col: #252527;
    --color-background-col-click: #313135;
    --color-top-bar-button-close: #c70000;
    --color-top-bar-button-maximizar: #4d4848;
    --color-top-bar-button-minimizar: #4d4848;

    /* Scroll bar style ---------- */
    /* Colors */
    --color-scroll-bar: var(--main-background-panels);
    --color-scroll-bar-hover: #4d4d4d;
    --color-scroll-bar-active: #5c5c5c;

    /* Sizes */
    --size-x-scroll-bar: var(--size-2);
    --size-x-scroll-bar-horizontal: var(--size-4);
    --size-x-scroll-bar-small: var(--size-1);
    --size-x-scroll-bar-hover: var(--size-2); /* N찾o funciona */
    --size-x-scroll-bar-active: var(--size-2); /* N찾o funciona */
    /* ------------------------------------------------- */

    /* List item */
    --color-list-item-hover: #1f724340;
    --color-list-item-active: #1f724310;
    --color-list-item-selected: #1f724330;

    /* Menu de contexto */
    --color-context-menu-background: #1a1a1b;
    --color-context-menu-background-title: #ffffff20;
    --color-context-menu-list-item-hover: var(--color-list-item-hover);
    --color-context-menu-list-item-active: var(--color-list-item-active);
    --box-shadow-context-menu: var(--size-none) var(--size-none) var(--size-0-5) var(--size-none) var(--color-black);

    /* Fontes */
    --font-family-normal: Roboto, Verdana, Geneva, Tahoma, sans-serif;
    --font-family-editor: Consolas, "Courier New", monospace;
    --font-family-vs-code: "Droid Sans Mono", "monospace", monospace, "Droid Sans Fallback";

    /* Fonte colors */
    --font-color-title: #333333;
    --font-color-label-propertie-editor: #adadad;
    --font-color-input-propertie-editor: #d8d8d8;
    --font-color-input-propertie-editor-focus: #f3f3f3;
    --font-color-icon-add-remove-propertie-editor: #adadad;

    /* Link colors */
    --font-color-link: #007bff;
    --font-color-link-hover: #c4c4ff;

    /* Box shadows */
    --box-shadow-small: 4px -1px 5px 0.1px #191919;

    /* Toolbar */
    --tool-bar-height: var(--size-10);
    --toolbar-border-color: var(--color-black-50);
    --toolbar-item-border-hover: #525252;
    --toolbar-item-background-active: #52525252;

    /* Outlines */
    --outline-none: none;
    --outline-padrao: auto;
    --outline-padrao: 1px solid #f3f3f3;

    /* Erros */
    --text-underline-error: underline wavy var(--main-error-color);

    /* Bordas */
    --borda-size-0-25: 1px;
    --borda-size-0-5: 2px;
    --borda-size-0-75: 3px;
    --borda-size-1: 4px;
    --borda-size-1-5: 6px;
    --borda-size-2: 8px;
    --borda-size-3: 12px;
    --borda-size-4: 16px;
    --borda-size-5: 20px;


    /* Font-sizes */
    --font-size-1: 4px;
    --font-size-1-5: 6px;
    --font-size-2: 8px;
    --font-size-3: 12px;
    --font-size-3-5: 14px;
    --font-size-4: 16px;
    --font-size-5: 20px;
    --font-size-6: 24px;
    --font-size-7: 28px;
    --font-size-8: 32px;
    --font-size-9: 36px;
    --font-size-10: 40px;
    --font-size-17: 64px;

    --font-size-xs: var(--font-size-1);
    --font-size-s: var(--font-size-2);
    --font-size-sm: var(--font-size-3);
    --font-size-m: var(--font-size-4);
    --font-size-g: var(--font-size-6);
    --font-size-xg: var(--font-size-8);
    /*-----------*/

    /** Sizes **/
    --size-xs: 4px;
    --size-s: 8px;
    --size-m: 16px;
    --size-g: 24px;
    --size-xg: 32px;
    /*-----------*/

    /** Margins **/
    --margin-xs: var(--size-xs);
    --margin-s: var(--size-s);
    --margin-m: var(--size-m);
    --margin-g: var(--size-g);
    --margin-xg: var(--size-xg);
    /*-----------*/

    /** Paddings **/
    --padding-xs: var(--size-xs);
    --padding-s: var(--size-s);
    --padding-m: var(--size-m);
    --padding-g: var(--size-g);
    --padding-xg: var(--size-xg);
    /*-----------*/

    /*** Input borders ***/
    --input-border: thin solid var(--main-background-highlighted);
    --input-border-error: thin solid var(--main-error-color);
}
