:root {
    /* =============================== */
    /* Sizes                           */
    /* =============================== */
    --size-window-vh-fill: 100vh;
    --size-window-vw-fill: 100vw;
    --size-fill: 100%;
    /* Basic */
    --size-none: 0;
    --size-xxs: 1px;
    --size-xs: 4px;
    --size-s: 8px;
    --size-sm: 12px;
    --size-m: 16px;
    --size-g: 24px;
    --size-xg: 32px;
    /* =============================== */
    /* Scroll bar style                */
    /* =============================== */
    /* Colors */
    --color-scroll-bar: var(--main-background-panels);
    --color-scroll-bar-hover: #4d4d4d;
    --color-scroll-bar-active: #5c5c5c;
    /* Sizes */
    --size-scroll-bar-horizontal: var(--size-m);
    --size-x-scroll-bar-small: var(--size-xs);
    --size-x-scroll-bar: var(--size-s);
    /* =============================== */
    /* Outlines                        */
    /* =============================== */
    --outline-none: none;
    --outline-padrao: auto;
    --outline-padrao: 1px solid #f3f3f3;
    /* =============================== */
    /* Others                          */
    /* =============================== */
    /* Flow editor selection color */
    --selection-border-color: #0f77bf;
    /* Modal */
    --modal-button-hover-color: #4d4848;
    /*** Input borders ***/
    --input-border: thin solid var(--main-background-highlighted);
    /* List item */
    --color-list-item-hover: #1f724340;
    --color-list-item-active: #1f724310;
    /* Menu de contexto */
    --color-context-menu-background: #1a1a1b;
    --color-context-menu-background-title: #ffffff20;
    --color-context-menu-list-item-hover: var(--color-list-item-hover);
    --color-context-menu-list-item-active: var(--color-list-item-active);
    --box-shadow-context-menu: var(--box-shadow-small-center);
    /* Toolbar */
    --tool-bar-height: 40px;
    --toolbar-item-border-hover: #525252;
    --toolbar-item-background-active: #52525252;
}