@import './../../style/variables.scss';

.main-page {
  background-color: $color-background;
  height: $size-window-vh-fill;
  width: $size-window-vw-fill;
  display: flex;
  flex-direction: column;
}
