.container-field-wrapper {
    justify-content: space-between;
    height: min-content;
    position: relative;
}

.label-field-wrapper {
    text-overflow: ellipsis;
    display: inline-block;
    white-space: nowrap;
    font-size: smaller;
    text-align: start;
    overflow: hidden;
}