@import "./../../../style/variables.scss";

.item-body {
  flex-direction: column;
  flex: 1;
}

.item-list-pai {
  cursor: pointer;
  padding: $size-0-5 $size-0-75 $size-0-75 $size-1-5;
  font-size: $font-size-3-5;
  min-height: 19px;
  flex: 1;
}

.item-list-pai:hover,
.item-list-filho:hover,
.btn-add-res-tree:hover {
  background-color: $color-top-bar;
}

.item-list-pai:active,
.item-list-filho:active,
.btn-add-res-tree:active {
  background-color: $color-background-col-click;
}

.item-list-filho {
  padding-left: $size-2;
}

.btn-add-res-tree {
  display: none;
  padding-left: 5px;
  padding-right: 5px;
}

.btn-rm-res-tree {
  display: none;
  padding-left: 5px;
  padding-right: 5px;
}

.pai-filho:hover {
  .btn-add-res-tree {
    display: block;
  }
}

